@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    height: 3000px;
    text-align: center;
    background-color: #fefefe;
    font-family: 'Cardo', serif;
    position: relative;
}

.logo-img{
    max-width: 150px;
}

.nav-link{
    color: black;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-size: small;
}

.page-container{
    padding: 64px;
}

.page-title{
    font-size: medium;
}

.footer{
    background-color: #f3ebe6;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;

}

.border{
    border-style: solid;
}

.footer-contacts{
    display: inline-block;
    width: 20%;
    text-align: left;
    padding: 16px;
    box-sizing: border-box;
}

.footer-contacts-title{
    font-size: small;
}

.footer-contacts-text{
    font-size: small;
    margin: 0px;
}

.footer-nav {
    display: inline-block;
    width: 58%;
}

.footer-copyright {
    text-align: right;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;

}

.footer-copyright-title {
    font-size: small;
}

.footer-copyright-text{
    font-size: small;
}

.footer-nav-menu{
    border-top: 1px solid black;
    padding: 16px;
}

.div-photo{
    width: 1080px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    text-align: justify;
    margin-bottom: 70px;
}

.photo-text{

    display: inline-block;
    height: 400px;  
    box-sizing: border-box;
    width: 44%;
    position: relative;
    top: -384px;
    padding-left: 30px;
}

.immagine{
    display: inline-block;
    height: 400px;
    background-color: aqua;
    width:min-content;
    box-sizing: border-box;


}

.resize{
    height: 400px;
}